body {
  margin: 0;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: '. . Table Table Table Table Table Table Table Table . .';
}
